* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cb6c32;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebcd9b;
    padding: 10px 20px;
    justify-content: space-between;
    padding-right: 12%;
}

.logo {
    height: 150px;
    width: 150px;      
}

#navbar {
    display: flex;             
    gap: 10px;                
}

.knop {
    width: 15vw;
    background-color: #cb6c32;
    color: #ebcd9b;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.knop h2 {
    margin: 0;
}
