* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "baker-signet-web", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #cb6c32;
    margin: 3%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebcd9b;
    justify-content: space-between;
    padding: 10px 20px;
    padding-right: 12%;
}

footer {
    background-color: #ebcd9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 1%;
}

h2{
    font-family: "baker-signet-web", serif;
    font-weight: 730;
    font-style: normal;
}

h1{
    color: #ebcd9b;
}

.logo {
    cursor: pointer; 
}

.knop {
    width: 15vw;
    height: 7vh; 
    background-color: #cb6c32;
    color: #ebcd9b;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.7s;
}

.knop h2 {
    margin: 0;
}

.knop:hover {
    transition: 0.35s;
    color: #cb6c32;
    background-color: #ebcd9b;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #cb6c32;
}

#trademark {
    align-items: center;
    color: #cb6c32;
    display: flex;
}

#navbar {
    display: flex;
    justify-content: space-around;
    gap: 10%;
}

.knop_f { 
    color: #cb6c32;
    cursor: pointer;
}

.knop_f:hover {
    text-decoration: underline;
}

#link_youtube {
    color: #cb6c32;
    text-decoration: none;
}