* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "baker-signet-web", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #cb6c32;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebcd9b;
    justify-content: space-between;
    padding: 10px 20px;
    padding-right: 12%;
}

footer {
    background-color: #ebcd9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 1%;
}

main {
    flex: 1;
}

h2 {
    font-family: "baker-signet-web", serif;
    font-weight: 730;
    font-style: normal;
    cursor: default;
}

h1 {
    color: #ebcd9b;
    cursor: default;
}

.logo {
    cursor: pointer;
}

.knop, .knop a {
    width: 15vw;
    height: 7vh;
    background-color: #cb6c32;
    color: #ebcd9b;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.knop h2, .knop a h2 {
    margin: 0;
    color: inherit;
}

.knop a {
    text-decoration: none;
    color: inherit;
}

.knop a:hover {
    text-decoration: none;
}

.knop:hover, .knop a:hover {
    transition: 0.35s;
    color: #cb6c32;
    background-color: #ebcd9b;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #cb6c32;
}

#trademark {
    align-items: center;
    color: #cb6c32;
    display: flex;
}

#navbar {
    display: flex;
    justify-content: space-around;
    gap: 10%;
}

.knop_f {
    color: #cb6c32;
    cursor: pointer;
}

.knop_f:hover {
    text-decoration: underline;
}

#link_youtube {
    color: #cb6c32;
    text-decoration: none !important;
}


/*Producten gefixt met important en kleur opnieut toepassen om zeker te zijn*/
/*Deze css code is raar maar is de enige manier om de knoppen te laten werken, sorry Otger. kusjes Thijn en Yannis */
header #producten {
    text-decoration: none; 
}

header #producten .knop {
    text-decoration: none !important; 
    color: #ebcd9b; 
}

header #producten .knop:hover {
    text-decoration: none !important; 
    color: #cb6c32; 
}

header #verhaal {
    text-decoration: none; 
}

header #verhaal .knop {
    text-decoration: none !important; 
    color: #ebcd9b; 
}

header #verhaal .knop:hover {
    text-decoration: none !important; 
    color: #cb6c32; 
}


header #contact {
    text-decoration: none; 
}

header #contact .knop {
    text-decoration: none !important; 
    color: #ebcd9b; 
}

header #contact .knop:hover {
    text-decoration: none !important; 
    color: #cb6c32; 
}


footer #contact_f {
    text-decoration: none !important; 
    color :#cb6c32;
}

footer #knop_f:hover {
    text-decoration: underline;
    cursor: pointer;
}


